*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(12,231,220);
}
.wrapper{
    width: 605px;
    background: #fff;
    border-radius: 15px;
    padding: 30px 30px 25px;
}
.wrapper header{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}
.wrapper .content{
    margin: 35px;
}
.content .quote-area{
    display: flex;
    justify-content: center;
}
.quote-area i{
    font-size: 15px;
}
.quote-area i:first-child{
    margin: 3px 10px 0 0;
}
.quote-area i:last-child{
    margin: 0 0 3px 10px ;
    display: flex;
    align-items: flex-end;
}
.quote-area .quote{
    font-size: 22px;
    align-items: center;
}
.content .author{
    display: flex;
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
    justify-content: flex-end;
}
.author span:first-child{
    margin: -7px 5px 0 0;
    font-family: monospace;
}
.wrapper .buttons{
    border-top: 1px sold #ccc;
}
.buttons .features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.features ul{
    display: flex;
}
.features ul li{
    list-style: none;
    margin: 0 9px;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    color: rgb(4,8,253);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(4,8,253);
    cursor: pointer;
    transition: all 0.3s ease;
}
.features ul li:hover{
    color: #fff;
    background: rgb(4,8,253);
}
.features button{
    border: none;
    outline: none;
    padding: 13px 22px;
    background: rgb(4,8,253);
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}